@charset "UTF-8";


@font-face { /* Fonte externa */
    font-family: 'Idroid';
    src: url('fontes/idroid.otf') format(opentype);
}
  /* Fonte externa */
@import url('https://fonts.googleapis.com/css2? family = Roboto + Condensed: wght @ 700 & display = swap');


body { /* Corpo */
    background-color: #84E1AD;  /*Fundo*/
    text-align: center; /* Centralizar todo conteúdo */
    font-family: Arial, Helvetica, sans-serif; /* Fonte geral */
    font-weight: bold; /* Deixar conteúdo em negrito  */
}

header { /* Cabeçalio */
    background-image: linear-gradient(to top, #1A5C38, #84E1AD); /* Fundo degradê */
    color: white; /* Cor do texto */
    width: 100%; /* Ocupar 100% da largura */
    padding: 10px; /* Margem interna */
}
header h1 { /* Título cabeçario */
    font-size: 40px; /* Tamanho da fonte */
    font-family:'Roboto Condensed', Arial, sans-serif;  /* Tipo de fonte */
    color: white; /* Cor da fonte */
}

header p { /* Parágrafo cabeçalio */
    display: inline-block; /* Tipo de caixa  */
    width: 400px; /* Largura da caixa */
    color: #a2c9b3; /* Cor da fonte */
}

nav#menu { /* Caixa dp menu */
    text-align: left; /* Menu a esquerda*/
}

nav#menu a { /* Links do menu */
    display: inline; /* Tipo de caixa do link */
    text-decoration: none; /* Retirar linha a baixo dos links */
    color: white; /* Cor dos links */
    padding: 20px; /* Margem interna dos links */
}

nav#menu a:hover { /* Ao passar o mouse */
    color: #84E1AD ; /* Mudar para a cor... */
}

#inicio { /* Caixa com todo o conteúdo */
    background-color: white; /* Cor do fundo */
    padding: 20px; /* Margem interna */
    width: 65%;  /* Largura em relação a tela */
    margin: auto; /* Margem "auto" para deixar a caixa no centro */
    box-shadow: 4px 0px 7px rgba(105, 105, 105, 0.671); /* Sombra da caixa */
}

#inicio h1 {  /* Modificar título h1 do início */
    font-family: 'Idroid', Arial, sans-serif; /* Fonte do "h1" (fonte externa) */
    font-size: 30px; /* Tamanho da fonte */
    color: #1A5C38; /* Cor da Fonte */
    text-align: justify; /* Alinhamento  justificado (esquerda)*/
}

#inicio h2 { /* Modificar títulos h2 */
    font-family: 'Idroid', Helvetica, sans-serif; /* Colocando fonte externa */
    color: #1A5C38; /* Cor da fonte  */
    background-image: linear-gradient(to left, white, #84E1AD); /* Colocando fundo degradê da esquerda para direita */
    padding-left: 10px; /* Margem interna */
    text-align: justify; /* Justificando texto */
}

.recuo1 { /* Classe para recuar todos os parágrafos dentro da classe */
    text-indent: 30px; /* Recuo */
    text-align: justify; /* Justificar parágrafos */
}

#video { /* Caixa do vídeo */
    background-color: #1A5C38; /* Cor do fundo */
    padding: 15px 25px; /* Margem interna (15px em cima e embaixo e 25px dos lados) */
    width: 64%; /* Largura da caixa referente a largura da tela */
    margin: auto; /* Margem centralizada */
    box-shadow: 4px 0px 7px #3d504560; /* Sombra */
}

#resumo {  /* Ultimo setor */
    background-color: white; /* Fundo */
    text-align: justify; /* Justificar texto */
    padding: 15px;  /* Margem interna */
    width: 66%; /* Largura da caixa em relação a tela */
    margin: auto; /* Centralizar caixa */
    text-indent: 30px; /* Recuo parágrafo */
    border-radius:  0px 0px 10px 10px; /* Arredondar bordas inferiores da caixa */
    box-shadow: 4px 4px 7px rgb(143, 142, 142); /* Sombra */
}

#titulofinal { /* Título da utima caixa */
    background-color: #3da86d; /* Cor do fundo */
    color: white; /* Cor da letra */
    padding: 4px; /* Margem interna  */
    text-align: left; /* Justificar texto a direita */
    border-radius: 10px 10px 0px 0px; /* Arredondar bordas superiores */
    margin-bottom: 0px; /* Retirar margem inferior */
    box-shadow: 4px 0px 7px #6d8b7a96;  /* Sombra, neste caso apenas na direita */
}

#extra { /* Caixa extra */
    background-color: #c3f5d8; /* Cor fundo */
    padding: 10px; /* Margem interna */
    border-radius: 0px 0px 10px 10px; /* Arredondamento da parte inferior da caixa */
    margin: auto; /* Centralizar caixa */
    box-shadow: 4px 4px 7px #67837396; /* Sombra direita e inferior */
}

#tabela ul { /* Lista */
    display: inline-block; /* Tipo de caixa */
    width: 70%; /* Largura */
    height: 300px; /* Altura */
    margin: auto; /* Margem automatica para centralizar caixa */
}

#fim { /* Utimo parágrafo do corpo */
    padding: 10px; /* Margem interna */
}

footer {  /* Rodapé */
    background-color: #1A5C38; /* Cor fundo */
    color: #c3f5d8; /* Cor fonte */
    padding: 8px; /* Margem interna */
    width: 100%; /* Largura caixa (largura total) */
    margin-top: 20px; /* Margem externa superior */
}

footer a { /* Links do rodapé */
    text-decoration: none; /* Tirar linha embaixo do links */
    color: white; /* Cor da fonte */
}

footer a:hover { /* Ao passar o mouse sobre os links */
    text-decoration: underline; /* Mostrar linha em baixo */
    color: #84E1AD ; /* Mudar para a cor... */
}